@charset "UTF-8";
/*Clear styles*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=PT+Sans&family=Playfair+Display&family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
}

/* HW==================================================== */

.searchfield {
  display: flex;
  margin: 20px;
  width: 270px;
}

.ico {
  height: 50px;
  margin: 0px 10px 20px 0px;
}

.search-form,
.info {
  display: none;
}

.search-form._active {
  display: inline-block;
  border: 1px solid #7a956b;
  padding: 10px;
  width: 270px;
  font-size: 12px;
  background-color: #a39e9e;
  border-radius: 2px;
  box-shadow: 1px 1.5px 1px 1.5px #000;
}

p {
  color: #4b4848;
}

.searchfield__wrapper {
  display: flex;
  margin: 5px 0px 0px 0px;
}

.searcher {
  display: block;
  height: 30px;
  background-color: #444742;
  border-radius: 2px;
  border: 1px solid #000000;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 3px 0px;
}

.search-button {
  display: inline;
  color: #fff;
  background-color: #e03551;
  font-size: 12px;
  height: 30px;
  border-radius: 2px;
  padding: 10px;
  align-items: center;
  box-shadow: 1px 1.5px 1px 1.5px #000;
}

.search-button:hover {
  background-color: #f16179;
  transition: all 0.3s ease 0s;
}

.search-button:active {
  box-shadow: 1px 0.5px 1px 0.5px #000;
  background-color: #e7173a;
  transition: all 0.3s ease 0s;
}

.counter2 {
  display: inline;
  color: #4b4848;
  font-size: 10px;
}

.info._active {
  display: block;
  font-size: 10px;
  color: #4b4848;
  margin: 5px 0px 0px 0px;
}
